<table class="table-program">
  <tr>
    <th class="h1 text-center">Toastmasters Meeting Guide: Table Topics</th>
    <th class="h1 text-center">Links</th>
  </tr>
  <tr>
    <td>
      <ul>
        <li><strong>AREM</strong> : Answer - Reason - Example - Message</li>
        <li><strong>PREP</strong> : Position - Reason - Example - Position</li>
        <li><strong>PPF</strong> : Past - Present - Future</li>
        <li><strong>SMG</strong> : Story - Message - Gain</li>
        <li><strong>Before and After</strong></li>
        <li><strong>Problems and Solutions</strong></li>
        <li><strong>Advantages and Disadvantages</strong></li>
      </ul>
    </td>
    <td>
      <ul>
        <li><a href="https://www.toastmasters.org/magazine/magazine-issues/2016/oct2016/evaluation" target="_blank">How to evaluate</a></li>
      </ul>
    </td>
  </tr>
</table>